// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #f9dc30;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.bg-yellow {
    background-color: $yellow;
}
.bg-primary, .btn-primary {
    background: rgb(249,220,48);
    background: linear-gradient(90deg, rgba(249,220,48,1) 0%, rgba(255,192,0,1) 100%);
}
.btn-danger {
    background: rgb(125,24,23);
    background: linear-gradient(90deg, rgba(125,24,23,1) 0%, rgba(227,52,47,1) 100%);
}
$theme-colors: (
  "primary": #f9dc30,
);

