* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9dc30;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .form-container .logo {
    text-align: center;
    margin-bottom: 40px;
}
.container .form-container .logo img {
    width: 80%;
    max-width: 150px;
}
.container .form-container {
    width: 100%;
    max-width: 500px;
}

.container .form-container h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}
.container .form-container h4 {
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 35px;
}
.container .form-container div {
    margin-bottom: 1rem;
}
.container .form-container div label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 3px;
    display: inline-block;
}
.container .form-container div input {
    display: block;
    width: 100%;
    border: 2px solid #000;
    padding: 8px;
    border-radius: 8px;

}
.container .form-container form {
    width: 80%;
    margin: 10px auto;
}
.container .form-container form .error {
    font-size: 14px;
    padding-left: 5px;
    margin-top: 4px;
    font-weight: 600;
    color: #dc3e3e;
}
.container .form-container p {
    text-align: center;
    font-weight: 600;
}
.container .form-container form button {
    border: 2px solid #000;
    text-transform: uppercase;
    padding: 5px 21px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.container .form-container form .submit-container {
    display: flex;
    justify-content: flex-end;
}

.container .form-container .success {
    text-align: center;
    border: 2px solid #000;
    text-transform: uppercase;
    padding: 5px 21px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-decoration: none;
    color: #000;
    margin: 35px 0;
}

@media screen and (max-width: 767px) {
    .container .form-container h3 {
        font-size: 18px;
    }
    .container .form-container h4 {
        font-size: 15px;
        margin-bottom: 0;
    }
}
